<div class="message">
  From:
  <% if user.first_name? %>
    <div class="user_name"><%= user.first_name %></div>
    <div><p>  <%= message.body %></p></div>
    <div><%= message.message_time.strftime("%l:%M%p on the %e %b") %></div>
  <% elsif user.username?  %>
    <div class="user_name"><%= user.username %></div>
    <div><p>  <%= message.body %></p></div>
    <div><%= message.message_time.strftime("%l:%M%p on the %e %b") %></div>
  <% else %>
    <div class="user_name"><%= user.email %></div>
    <div><p>  <%= message.body %></p></div>
    <div><%= message.message_time.strftime("%l:%M%p on the %e %b") %></div>
  <% end %>
</div>
