
<%= link_to conversations_path do %>
  <i class="fa fa-undo" aria-hidden="true" style="font-size: 30px"> </i>
<% end %>



<div class="text-center">
<br>
<% if @over_ten %>
 <%= link_to "all messages", conversation_messages_path(@conversation, {read_option: 'all'}) %>
<% end %>
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div>
<% if user.first_name? %>
        <div ><strong><%= user.first_name %></strong> <%= message.message_time.strftime(" %l:%M%p on the %e %b   ") %></div>
  <% elsif user.username?  %>
        <div ><strong><%= user.username %></strong> <%= message.message_time.strftime(" %l:%M%p on the %e %b   ") %></div>
     <% else %>
       <div ><strong><%= user.email %></strong> <%= message.message_time.strftime(" %l:%M%p on the %e %b   ") %></div>
     <% end %>
       <div>
         <p>  <%= message.body %></p>
      </div>
 </div>
 <% end %>
<% end %>




</div>
<%= simple_form_for [@conversation, @message] do |f| %>
 <div>
   <%= f.input :body%>
 </div>

 <div>
   <%= f.submit %>
 </div>
<% end %>

