<br>
<h1 class="text-center page-title"> <%= @user.username %>  <%= link_to profile_edit_path(@user) do %>
<i class="fa fa-pencil" aria-hidden="true" style="font-size: 30px"></i>
<% end %>
 </h1>
<div class="container">

  <div class="row">

    <div class="large-card profile-page">

      <div class="col-xs-offset-2 col-xs-4">
        <% profile_image = current_user.photo? ? current_user.photo.path : current_user.facebook_picture_url %>
        <% profile_image = "https://www.bunnyholder.com/200/300" if profile_image.nil?  %>
        <%= cl_image_tag profile_image, width: 250, height: 250, crop: :fill %>
      </div>

      <div class="col-xs-4">

        <h3> <span style="color: RGBA(247, 194, 80, 1.00)" > Name: </span> <%= @user.first_name %> <%= @user.last_name %></h3>
        <h3 style="color: RGBA(247, 194, 80, 1.00)"> Bio: </h3>
         <p> <%= @user.bio %></p>
      </div>

      <div class="col-xs-4">
        <ul>
          
            <% Booking.all.each do |booking| %>
              <% if @user == booking.user %>
                <li style="list-style-type: none;">

                  <% unless booking.renter_rating.nil? %>

                    <% avatar_url = booking.animal.user.photo? ? cl_image_path(booking.animal.user.photo.path) : booking.animal.user.facebook_picture_url || "http://placehold.it/30x30" %>
                    <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

                    <%= "#{booking.animal.user.first_name} #{booking.animal.user.last_name}" %>
                    <%  booking.renter_rating.times do %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    <% end %>
                  <% end %>

                  <br>
                  <%= booking.renter_review %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        </div>
  
          <%= render "reviews" %>
        </ul>

      </div>
    </div>
