<%= simple_form_for [@animal, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: {id: "calendar", placeholder: "from", value: params[:start]}, class: "pick-date" %>
    <%= f.input :end_date, as: :string, input_html: {id: "calendar2", placeholder: "until", value: params[:end]}, class: "pick-date" %>
    <div class="text-center book-animal">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>

<% content_for(:after_js) do %>
  <script>
    console.log("js is loaded");
    var myCalendar = new dhtmlXCalendarObject(["calendar","calendar2"]);

    // All dates before today are disabled
    myCalendar.setInsensitiveRange(null, "<%= Time.now.strftime("%Y-%m-%d") %>");

    // Already booked dates are greyed out
    <% taken_dates = [] %>
    <% Booking.all.each do |booking| %>
      <% if booking.animal == @animal %>

        <% (booking.start_date..booking.end_date).each do |date| %>
          <% taken_dates << date.strftime("%Y-%m-%d") %>
        <% end %>

      <% end %>
    <% end %>
      myCalendar.setInsensitiveDays(<%= raw taken_dates %>);
  </script>
<% end %>
