<div class="top">
  <div class="xs-screen-tag hidden visible-xs">
    <h2><span>Like Animals?</span> Book unique animals and experience the world of an exotic animal owner.</h2>
  </div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(105, 105, 105, 0.37) 0%, rgba(51, 51, 51, 0.42) 50%), url('<%= image_path 'tropical-bak.jpg' %>')">
    <div class="banner-content">
      <div class="tagline hidden-xs">
        <h2><span>Like Animals?</span> Book unique animals and experience the world of an exotic animal owner.</h2>
        <h1>Find a pet</h1>
      </div>
      <%= form_tag("animals", method: "get", class: "form-inline") do %>
      <div class="form-group">
        <%= select_tag "species", options_for_select(@species_list) %>
      </div>
      <div class="form-group date-picker">
        <input type="text" id="calendar" name="start" placeholder="&#xf073; from" style="font-family:Arial, FontAwesome" class="form-control">
      </div>
      <div class="form-group date-picker">
        <input type="text" id="calendar2" name="end" placeholder="&#xf073; until" style="font-family:Arial, FontAwesome" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="location" placeholder="Postcode" class="form-control">
      </div>
      <div class="form-group">
        <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" />
      </div>
      <%= submit_tag("Search", class: "btn btn-info") %>
      <% end %>

    </div>
  </div>

</div>

<% if @featured_animals.length > 0 %>

<div class="featured">
  <h1 class="text-center">Pets of the Week</h1>
  <div class="container">
    <div class="row">
      <% @featured_animals[0..2].each do |animal| %>
      <div class="col-xs-<%= @col_size.to_s %>" >
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path (animal.photos? ? (animal.photos[0].path) : "placeholder_animal_rca6hk"), height: 300, width: 400, crop: :fill %>')">
          <%= link_to "", animal_path(animal), class:"card-link"%>
          <div class="card-category"> <p> <%= animal.species.name %> - Available for the next week! </p> </div>
          <div class="card-description">
            <h2> <%= animal.name %></h2>
            <p> £<%= animal.price %> per day!</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>


<% end %>

    <% content_for(:after_js) do %>
    <script>
      console.log("js is loaded")
      var myCalendar = new dhtmlXCalendarObject(["calendar","calendar2"]);
    myCalendar.setInsensitiveRange(null, "<%= Time.now.strftime("%Y-%m-%d") %>");
  </script>
<% end %>

