<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">


<%= simple_form_for(@animal) do |f| %>
<form>
<% if @animal.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.association :species, collection: Species.order('name ASC') %>
  </div>
  <div class="form-group">
    <%= f.input :bio, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :photos, as: :attachinary, class: "form-control" %>
  </div>
  <div class="text-center">
    <%= f.submit "Add your animal", class: "btn btn-primary text-center" %>
  </div>
</form>
<% end %>

    </div>
  </div>
</div>
