<div class="container">
  <h1> Search results </h1>
  <br>
  <div class="row">
    <% @animals.each do |animal| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path (animal.photos? ? (animal.photos[0].path) : "placeholder_animal_rca6hk"), height: 300, width: 400, crop: :fill %>')">
          <div class="card-category"><%= animal.species.name %></div>
          <div class="card-description">
            <h2><%= animal.name %></h2>
            <p>£<%= animal.price %></p>
          </div>
          <%= link_to "", animal_path(animal), class:"card-link"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="map"> </div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

