
<div id="animal-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#animal-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#animal-carousel" data-slide-to="1"></li>
    <li data-target="#animal-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="animal-pic" style="background-image: url(' <%= cl_image_path (@animal.photos? ? (@animal.photos[0].path) : "placeholder_animal_rca6hk"), width: 1200, height: 900 %>'); background-size: cover; background-position: center">
      </div>
    </div>
    
    <% if @animal.photos? %>
        <% @animal.photos[1..-1].each do |photo| %>
        <div class="item">
          <div class="animal-pic" style="background-image: url('<%= cl_image_path photo.path %>'); background-size: cover; background-position: center">
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="item">
          <div class="animal-pic" style="background-image: url('<%= cl_image_path "placeholder_animal_rca6hk" %>'); background-size: cover; background-position: center">
          </div>
        </div>
     <% end %>
  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#animal-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#animal-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

<div class="container">

  <div class="row">

    <div class="col-xs-12">
      <h1 class="text-center animal-name"> <%= @animal.name.capitalize %> the <%= @animal.species.name.capitalize %>
        <%= link_to edit_animal_path(@animal) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </h1>
    </div>

  </div>

  <div class="animal-wrapper">
    <div class="row">

      <div class="col-xs-6">
        <div class="animal-details">
          <h3 class="text-center"> <strong> Species: </strong> <%= @animal.species.name %> </h3>
          <p> <strong> Bio: </strong> <%= @animal.bio %> </p>
          <p> <strong> Price per day: </strong> £<%= @animal.price %> </p>
        </div>
      </div>

      <div class="col-xs-6">
        <h2 class="text-center animal-h2">
          Book me!
          <!-- <#%= @animal.name %> the <%#= @animal.species.name %> -->
        </h2>
        <div class="animal-booking">
          <%= render "bookings/form" %>
        </div>

      <div class="col-xs-12">
        <h2 class="text-center animal-h2">
          Reviews
        </h2>
        <div class="animal-booking" style="padding-left: 0px; width: 800px;">
          <ul style="list-style-type: none;">
            <% Booking.all.each do |booking| %>
            <% if @animal == booking.animal %>
            <li>

              <% unless booking.animal_rating.nil? %>

                  <% avatar_url = booking.user.photo? ? cl_image_path(booking.user.photo.path) : booking.user.facebook_picture_url || "http://placehold.it/30x30" %>
                  <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

                <%= "#{booking.user.first_name} #{booking.user.last_name} " %>
                <% booking.animal_rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <h3>No reviews yet :(</h3>
              <% end %>

              <br>
              <%= booking.animal_review %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="container">
  <div class="row">
    <#% @animal.photos.each do |photo| %>
    <div class="col-xs-3">
      <%#= cl_image_tag photo.path, width: 260, height: 200, crop: :fill, class: "show-picture" %>
    </div>
    <#% end %>
  </div>
</div> -->

<div id="map"> </div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
