
<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <h1 class="text-center"> <%= @animal.name.capitalize %>
        <% if current_user == @animal.user %>
          <%= link_to edit_animal_path(@animal) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </h1>
    </div>
  </div>
  <div class="row">

    <div class="col-xs-6">
      <h3> <strong> Species: </strong> <%= @animal.species.name %> </h3>
      <p> <strong> Bio: </strong> <%= @animal.bio %> </p>
      <p> <strong> Price per day: </strong> £<%= @animal.price %> </p>
    </div>

    <div class="col-xs-6">
      <div id="map"> </div>
      <script>
        function initMap() {
          var uluru = {lat: -25.363, lng: 131.044};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB15Xrkdt-DO-ycMFyhqpKQMNeZ-lei4k&callback=initMap">
    </script>
  </div>

</div>
</div>

<div class="container">
  <div class="row">
    <% @animal.photos.each do |photo| %>
    <div class="col-xs-3">
      <%= cl_image_tag photo.path, width: 260, height: 200, crop: :fill, class: "show-picture" %>
    </div>
    <% end %>
  </div>
</div>


<div class="container">
  <h1 class="text-center">
    Book <%= @animal.name %> the <%= @animal.species.name %>
  </h1>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= render "bookings/form" %>
    </div>
  </div>
</div>

